<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
	var socket = io.connect('http://localhost:2000');

	// var pseudo = prompt('Pseudo ?')
	// socket.emit('new_membre', pseudo)

	// socket.on('logged_on', function(data){
		// alert(data)
	// });
</script>
</div>
</body>
</html>