	</div>
    <script type="text/javascript">
        if (document.querySelector('#userName').innerText != '') {
            sock.on('newNotif', function(data) {
            	setTimeout(function() {
                    var lol = document.querySelector('#userName').innerText;
            		sock.emit('stayco', {login: lol});
            	}, 2000);
            });

            sock.on('notif', function(data) {
                var notif = document.querySelector('#notif_drop'),
                    tchat = document.querySelector('#tchat_drop');
                
                notif.innerHTML = '';
                tchat.innerHTML = '';
                if (data.myNotif.like) {
                    for (var i = 0; data.myNotif.like[i]; i++) {
                        notif.innerHTML += '<li><a href="/profile/'+ data.myNotif.like[i] +'">"' + data.myNotif.like[i] + '" a liker votre profile</a></li>';
                    }    
                }
                if (data.myNotif.tchat) {
                    for (var b = 0; data.myNotif.tchat[b]; b++) {
                        tchat.innerHTML += '<li><a href="/tchat/'+ data.myNotif.tchat[b] +'">"' + data.myNotif.tchat[b] + '"</a></li>';                      
                    }
                }
            });
        }
    </script>
</body>
</html>