<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/asset/css/semantic.min.css' />
    <style>
        .main.container
        {
            margin-top: 4%;
        }
    </style>
</head>
<body>
<div class="ui fixed inverted blue menu">
    <a class="header item" href="/">Accueil</a>
</div>

<div class="ui main container">