<% include partial/header %>

<div class="ui three grid column container">
    <div class="item">
        <div class="ui circular image">
            <img src="http://loremflickr.com/g/200/200/cats">
        </div>
        <div class="content">
            <a class="header">Header</a>
            <div class="meta">
                <span>Description</span>
            </div>
            <div class="description">
                <p></p>
            </div>
            <div class="extra">
                Additional Details
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ui circular image">
            <img src="http://loremflickr.com/g/200/200/dogs">
        </div>
        <div class="content">
            <a class="header">Header</a>
            <div class="meta">
                <span>Description</span>
            </div>
            <div class="description">
                <p></p>
            </div>
            <div class="extra">
                Additional Details
            </div>
        </div>
    </div>
</div>

<% include partial/footer %>

<!-- http://loremflickr.com/g/200/200/dogs -->