<% include partial/header %>

<div class="row">
<% if (locals.session['login'] != undefined) {
        for (var i = 0; locals.session['test'][i]; i++) { %>
        
            <div class="col-lg-4">
                <img class="img-circle" src="http://loremflickr.com/g/200/200/cats">
                <h4><%= locals.session['test'][i][0] %></h4>
                <p><%= locals.session['test'][i][1] %></p>
                <p><%= locals.session['test'][i][2] %></p>
                <p><%= locals.session['test'][i][3] %></p>
            </div>
        <% } 
} else { %> 
    <div>
        <a href="/register">Inscrit-toi !</a>
    </div>
<% } %>
</div>
<% include partial/footer %>