<% include header %>

<div class="ui stackable two column divided grid container">
    <div class="row">
        <div class="column">
            <form class="ui form" action="/login" method="post">
                <label class="">Ton petit nom :)</label>
                <input type="text" name="login">
                <label class="">Ton mot de passe</label>
                <input type="password" name="pwd">
                <input type="submit" name="submit" value="Logon">
            </form>
        </div>
        <div class="column">
            <form class="ui form" action="/login" method="post">
                <label class="">Nom d'utilisateur</label>
                <input type="text" name="login1">
                <label class="">Mot de passe</label>
                <input type="password" name="pwd1">
                <label class="">T'es sur de remettre le même ?</label>
                <input type="password" name="cfpwd">
                <label class="">Une petit adresse email :)</label>
                <input type="email" name="mail">
                <input type="submit" name="submit" value="Register">
            </form>
        </div>
    </div>
</div>

<% include footer %>