<% include partial/header %>


<div class="ui secondary vertical menu">


<% for(var i = 0; i < input.length; i++){ %>
    <a class="item" href="compte/<%= input[i] %>"> <%= input[i] %></a><br>
<% } %>
</div>


<% include partial/footer %>