<% include partial/header %>

<div class="row">
<div id="trieur" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center">
        Trié:
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center">
        |<a href="/?trie=0">Par Défault</a>|
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center">
        |<a href="/?trie=1">Par Age</a>|
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center">
        |<a href="/?trie=2">Par Distance</a>|
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center">
        |<a href="/?trie=3">Par Popularité</a>|
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center">
        |<a href="/?trie=4">Par Tag</a>|
    </div>
</div>
<% if (locals.session['login'] != undefined) {
    for (var i = 0; locals.session['allprof'][i]; i++) { %>
        <a href="/profile/<%= locals.session['allprof'][i][3] %>">
            <div class="col-xs-4 col-md-4">
                <div class="col-md-12 col-xs-12">
                    <br><img class="col-md-12 col-xs-12 img-circle" src="<% if (locals.session['allprof'][i][0] != null) { %><%= '/asset/uploads/' + locals.session['allprof'][i][0] %><% } %>">
                </div>
                <div class="col-md-12 col-xs-12">
                    <h5 class="text-center"><%= locals.session['allprof'][i][1] %> <%= locals.session['allprof'][i][2] %>km</h5>
                </div>
            </div>
        </a>
        
    <% } 
} else { %>
    <div class="col-md-4 col-md-offset-4">
        <a href="/register"><h2 class="text-center">Inscrit-toi !</h2></a>
    </div>
<% } %>
</div>

<!-- <script type="text/javascript" src="/asset/js/index.js"></script> -->

<% include partial/footer %>