<% include partial/header %>

<div class="ui stackable two column divided grid container">
    <div class="row">
        <div class="col-md-6 text-center col-md-offset-3">
            <a class="text-center" href="/login">Déja un compte ?</a>
        </div></br></br>
        <div class="col-md-6 col-md-offset-3">
            <form action="/register" method="post">
                <label class="col-md-6 col-md-offset-3 text-center">Nom d'utilisateur</label>
                <input class="form-control text-center" type="text" name="login">
                <label class="col-md-6 col-md-offset-3 text-center">Tu es :</label>
                <select class="form-control text-center input-sm" name="sexe" size="1">
                    <option></option>
                    <option>Homme</option>
                    <option>Femme</option>
                </select>
                <label class="col-md-6 col-md-offset-3 text-center">Mot de passe</label>
                <input class="form-control text-center" type="password" name="pwd">
                <label class="col-md-8 col-md-offset-2 text-center">T'es sur de remettre le même?</label>
                <input class="form-control text-center" type="password" name="cfpwd">
                <label class="col-md-6 col-md-offset-3 text-center">Une petit adresse email :)</label>
                <input class="form-control text-center" type="email" name="mail">
                <input class="btn btn-primary col-md-6 col-md-offset-3" type="submit" name="submit" value="Register">
            </form>
        </div>
    </div>
</div>

<% include partial/footer %>