<% include partial/header %>

<div id="tchat" class="container" style="border:2px solid blue;box-sizing: content-box;">
	<div class="row jumbotron" style="margin-bottom:0px;position:relative;height:85%;overflow-y:auto;">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div id="message">
			</div>
		</div>
	</div>
	<div class="row">
		<input id="msg_area" onkeypress="if(event.keyCode == 13) sendMsg();" class="form-horizontal col-md-10 col-xs-10 text-center" type="text" name="entry_msg">
		<input id="send_but" class="form-horizontal col-md-2 col-xs-2 text-center btn btn-primary btn-sm" type="button" name="Send" value="Send">
	</div>
</div>
<script type="text/javascript">
	function resizeTchat() {
		var h = window.innerHeight,
			nav = document.getElementsByClassName('navbar navbar-default')[0].offsetHeight + 20,
    		div = document.getElementById('tchat');
		div.setAttribute('style', 'box-sizing:content-box;height:' + (h - nav) + 'px;');
	}

	var send_but = document.querySelector('#send_but'),
		to = document.querySelector('#correspond'),
		msg_area = document.querySelector('#msg_area'),
		first = true,
		log = document.querySelector('#userName').innerText;

    if (log != '' || log != undefined) {
    	if (first) {
    		resizeTchat();
    		first = false;
    	}
    	sock.emit('checkMsg', {me: log, to: to.innerText});

    	sock.on('theNewMsg', function(data) {
    		
    		var msg = document.querySelector('#message'),
    			jumbo = document.querySelector('.jumbotron'),
    			expe = document.querySelector('#userName'),
    			dest = document.querySelector('#correspond'),
    			div = document.createElement('div'),
    			text = document.createElement('p'),
    			name = document.createElement('p');
    			
			if (data.off == expe.innerText) {
				text.setAttribute('class', 'text-right');
				text.innerText = data.content;
			} else if (data.off == dest.innerText) {
				text.setAttribute('class', 'text-left');
				text.innerText = data.content;
			}
			msg.appendChild(text);
			jumbo.scrollTop = jumbo.scrollHeight;
    	});

    	function sendMsg() {
    		var	too = document.querySelector('#correspond').innerText,
				msg = document.querySelector('#msg_area'),
				log = document.querySelector('#userName').innerText;

			if (msg.value != '') {
				sock.emit('message', {to: too, log: log, msg: msg.value});
				msg.value = '';
			}
    	}

    	send_but.addEventListener('click', function(ev) {
			sendMsg();
		});

		window.addEventListener('resize', function(ev) {
			setTimeout(function() {resizeTchat();}, 700);
		});
    }
</script>
<% include partial/footer %>