<% include partial/header %>

<div class="row">
	<div class="col-md-12 col-xs-12 text-center">
		<h2><%= locals.session['herPro'][0] %> <%= locals.session['herPro'][1] %></h2>
	</div>
</div>
<div class="container">
	<div class="">
		
	</div>
</div>

<% include partial/footer %>