<!DOCTYPE html>
<html>
<head>
    <title>Matcha</title>
    <link rel='stylesheet' href='/asset/css/semantic.min.css' />
    <style>
        .main.container
        {
            margin-top: 80px;
        }
    </style>
</head>
<body>
<div class="ui fixed inverted container menu">
    <a class="header item" href="/">Accueil</a>
    <% if (!locals.userlog) { %>
        <a class="header item" href="/login">Login</a>
    <% } else { %>
        <a class="header item" href="../compte"><%=locals.userlog %> ton compte</a>
        <a class="header item" href="/delog">Log-out</a>
    <% } %>
    <a class="header item" href="/test">test</a>
</div>
<div class="ui main container">

    <% if(locals.flash && locals.flash.error) { %>
    <div class="ui negative message">
        <%= flash.error %>
    </div>
    <% } %>
    <% if(locals.flash && locals.flash.mess) { %>
    <div class="ui positive message">
        <%= flash.mess %>
    </div>
    <% } %>