<!DOCTYPE html>
<html>
<head>
    <title>Matcha</title>
    <link rel='stylesheet' href='/asset/css/semantic.min.css' />
    <style>
        .main.container
        {
            margin-top: 80px;
        }
    </style>
</head>
<body>
<div class="ui fixed inverted container menu">
    <a class="header item" href="/">Accueil</a>
    <a class="header item" href="/profile">profile</a>
    <% if (!locals.userlog) { %>
        <a class="header item" href="/login">Login</a>
    <% } else { %>
        
        <div class="right menu">

            <select id="compte" class="ui dropdown item" name="Mon Compte">
                <option class="item" href="../compte">Voir mon profil</option>
                <option class="item" href="../compte/compte">Mes informations</option>
            </select>
            <a class="header small primary button item" href="/delog">Log-out</a>
        </div>
    
    <% } %>   
</div>
<div class="ui main container">

    <% if(locals.flash && locals.flash.error) { %>
    <div class="ui negative message">
        <%= flash.error %>
    </div>
    <% } %>
    <% if(locals.flash && locals.flash.mess) { %>
    <div class="ui positive message">
        <%= flash.mess %>
    </div>
    <% } %>